header {
    width: 100vw;
    position: fixed;
}

.header_contents {
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.logo {
    width: 100px;
    height: 100px;
}
