header {
    width: 100%;
    position: fixed;
    transition: all 0.5s;
    z-index: 10;
}

.header_contents {
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.logo {
    width: 100px;
}

.hamburger {
    display: flex;
    flex-direction: column;
    width: 36px;
    height: 14px;
    position: relative;
    cursor: pointer;
}

.upbar {
    width: 26px;
    height: 3px;
    position: absolute;
    transition: all 0.2s;
}

.downbar {
    width: 26px;
    height: 3px;
    position: absolute;
    transition: all 0.2s;
}

.up-basic {
    top: 0;
    background-color: white;
}

.down-basic {
    bottom: 0;
    right: 0;
    background-color: white;
}

.up-act {
    transform: rotate(-45deg);
    background-color: #0bb8ff;
}

.down-act {
    transform: rotate(45deg);
    background-color: #0bb8ff;
}

.showBack {
    background-color: rgba(255, 255, 255, 0.86);
    transform: translateY(-70px);
}

.offBack {
    background-color: transparent;
    transform: translateY(0px);
}

.point-color {
    background-color: #0bb8ff;
}

.white-color {
    background-color: white;
}
