.hero {
    width: 100vw;
    height: 100vh;
    background-image: url("../photo/main_visual_mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.hero_contents {
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
}
