.menu {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: 5;
}

.menu-on {
    width: 30%;
    height: 100vh;
    background-color: #28323c;
    position: absolute;
    padding: 35px;
    transform: translateX(1350px);
    transition: all 0.5s;
    z-index: 5;
}

.menu-off {
    height: 100vh;
    padding: 35px;
    transform: translateX(1880px);
    z-index: 5;
}

.cell-off {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 1;
}

.cell-on {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.8;
    z-index: 1;
}

.menu-contents {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.menu-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 30px;
    border-bottom: 1px solid #3b4a55;
}
.menu-list > li {
    transition: all 0.2s;
    z-index: 11;
}

.menu-list > li:hover {
    color: #00b8ff;
}
